<script type="text/javascript">
  if (window.location.host.indexOf('precompile.com') !== -1) {
    // Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-2823619-8');
    (function () {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = 'https://www.googletagmanager.com/gtag/js?id=UA-2823619-8';
      var firstScript = document.getElementsByTagName('script')[0];
      firstScript.parentNode.insertBefore(script, firstScript);
    })();
  }
</script>
