$font-serif: "freight-text-pro", Georgia, serif;
$font-sans: "ff-dagny-web-pro", Arial, sans-serif;

$size-giant: 3.2rem;
$size-small: 1.2rem;

$size-title: 2.4rem;
$size-meta:  1.5rem;
$size-text:  1.8rem;
$size-text-small: 1.6rem;
$size-text-smaller: 1.5rem;

// Line heights
$leading-title: 3.2rem;
$leading-text: 3.2rem;
$leading-text-small: 2.4rem;

$color-blue: #296486;
$color-light-blue: #59b6e6;
$color-off-blue: #7fb4c1;
$color-grey: #888;
$color-light-grey: #aaa;
$color-lighter-grey: #ccc;
