$font-serif: "grad", Georgia, serif;
$font-sans: Helvetica, Arial, sans-serif;
$font-mono: Courier, monospace;

$size-giant: 5rem;
$size-small: 1.25rem;

$size-title: 2.5rem;
$size-meta:  1.25rem;
$size-text:  1.75rem;
$size-text-small: 1.6rem;
$size-text-smaller: 1.5rem;
$size-text-code-block: 1.125rem;

// Line heights
$leading-title: 3.25rem;
$leading-text: 3rem;
$leading-text-small: 2.5rem;
$leading-text-code: 2rem;

$color-blue: #296486;
$color-light-blue: #59b6e6;
$color-off-blue: #7fb4c1;
$color-darker-grey: #222;
$color-dark-grey: #444;
$color-grey: #888;
$color-light-grey: #aaa;
$color-lighter-grey: #ccc;
